<h1>Odin</h1>

<h3>All knowing & all seeing Entity for each and every Software Project</h3>

<!-- <form > -->
  <input [(ngModel)]="text" type="text" placeholder="Your Name" >
  <button (click)="service()">Run it like a mo*</button>
<!-- </form> -->
  <p>{{text}}</p>

<section>
  <p>{{responses}}</p>
</section>

    <!-- <input [(ngModel)]="text" #ctrl="ngModel" required>

    <p>Value: {{ text }}</p> -->
    <!-- <p>Valid: {{ ctrl.valid }}</p>

    <button (click)="setValue()">Set value</button>
   -->

<!--    <input [(ngModel)]="text" type="text" placeholder="Your Name" >
   <p>{{text}}</p> -->